.comment__author {
    font-weight: 900;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-top: 24px;
}
@media (max-width: 1023px) {
    .comment__author {
        text-align: center;
        order: 2;
        margin-top: 16px;
    }
}