.lead__title {
    font-size: 96px;
    line-height: 93px;
    font-weight: 900;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    max-width: 782px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .lead__title {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 426px) and (max-width: 767px) {
    .lead__title {
        padding-left: 24px;
        padding-right: 24px;
        font-size: 50px;
        line-height: 54px;
    }
}

@media (max-width: 425px) {
    .lead__title {
        padding-left: 16px;
        padding-right: 16px;
        font-size: 40px;
        line-height: 44px;
    }
}