@import url("../cover/__title/cover__title.css");
@import url("../cover/__subtitle/cover__subtitle.css");
@import url("../cover/__link/cover__link.css");

.cover {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(./image/cover.jpg);
    background-color: rgba(42,44,47,0.3);
    background-blend-mode: multiply;
    transition: background-color 0.8s;
    box-sizing: border-box;
    
}

.cover:hover {
    background-color: rgba(42,44,47,0.8);
    background-blend-mode: multiply;
}

