@import url("../comments/__container/comments__container.css");
@import url("../comments/__content-title/comments__content-title.css");
@import url("../comments/__content-subtitle/comments__content-subtitle.css");

.comments {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

@media (max-width: 1270px) {
    .comments {
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media (max-width: 768px) {
    .comments {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (max-width: 425px) {
    .comments {
        padding-left: 16px;
        padding-right: 16px;
    }
}