.cover__subtitle {
    font-size: 18px;
    line-height: 26px;
    color: #fff;
    max-width: 382px;
    margin: 0 auto;
    padding-top: 134px;
    padding-bottom: 48px;
    box-sizing: border-box;
}

@media (min-width: 1024px) and (max-width: 1270px) {
    .cover__subtitle {
        padding-top: 100px;
        padding-bottom: 40px;
    }
}


@media (min-width: 768px) and (max-width: 1023px){
    .cover__subtitle {
        padding-top: 70px;
        padding-bottom: 40px;
    }
}

@media (min-width: 426px) and (max-width: 767px){
    .cover__subtitle {
        font-size: 16px;
        line-height: 16px;
        padding-top: 80px;
        padding-bottom: 40px;
    }
}

@media (max-width: 425px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 17px;
        padding: 20px 53px 24px 53px;
    }
}