.comments__content-subtitle {
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 72px;
}

@media (max-width: 425px) {
    .comments__content-subtitle{
        margin-top: 32px;
        margin-bottom: 42px;
    }
}