.lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    margin-top: 48px;
    max-width: 583px;
    font-weight: 400;
}

@media (min-width: 425px) and (max-width: 767px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 23px;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 20px;
    }
}

@media (max-width: 425px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 23px;
        padding-left: 16px;
        padding-right: 16px;
        margin-top: 20px;
    }
}