@import url("../video/__container/video__container.css");
@import url("../video/__content-title/video__content-title.css");
@import url("../video/__content-subtitle/video__content-subtitle.css");

.video {
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

@media (max-width: 1270px) {
    .video  {
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media (max-width: 768px) {
    .video  {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (max-width: 425px) {
    .video  {
        padding-left: 16px;
        padding-right: 16px;
    }
}
