.intro__title {
    font-weight: 900;
    font-size: 54px;
    line-height: 59px;
    color: #fff;
    margin-bottom: 45px;
}

@media (max-width: 425px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 32px;
    }
}