.place__paragraph {
    font-size: 18px;
    line-height: 30px;
    color: #fff;
}

.place__paragraph:first-child {
    margin-bottom: 36px;
}

@media (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 27px;
    }
    .place__paragraph:first-child {
        margin-bottom: 24px;
    }
}